{
    auto_https off
}

:80 {
    map {host} {target} {
        kajak.brj.one https://www.aarhuskanokajak.dk/
        dans.brj.one https://aarhuslindyhoppers.dk/
        svst.brj.one https://vigirbyenpuls.dk/svoemmehaller/aarhus-svoemmestadion/aabningstider
    }
    redir {target} 302
}